h1,
h2,
h3,
h4,
p {
  color: #182628;
}

textarea.form-control {
  font-size: xx-large;
}

.btn {
  margin: 1%;
  font-size: 2em;
}

.header-footer {
  background-color: #76b6ff;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
}

.user-input {
  font-family: "Seaweed Script", cursive;
  padding: 2%;
}

.btn-row {
  padding: 1em;
  align-content: center;
}

.output-row {
  background-color: rgb(200, 229, 255);
  padding: 2%;
  text-align: center;
}

#output {
  font-family: "Cabin Sketch", cursive;
  font-size: 5rem;
}

#pirate-says {
  font-family: "Nerko One", cursive;
}

#reset-msg {
  padding: 5px;
  display: none;
}

#ask-reset-btn {
  padding: 5px;
  visibility: hidden;
}
