h1,
h2,
h3,
h4,
p {
  color: #182628;
}

textarea.form-control {
  font-size: xx-large;
}

.btn {
  margin: 1%;
  font-size: 2em;

  -webkit-box-shadow: 0px 11px 30px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 11px 30px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 11px 30px -5px rgba(0, 0, 0, 0.2);

  transition: 0.5s ease-in-out;
}

.btn:hover {
  -webkit-box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.2);
}

.header-footer {
  background-color: #76b6ff;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
}

.user-input {
  font-family: "Seaweed Script", cursive;
  padding: 2%;
}

.btn-row {
  padding: 1em;
  align-content: center;
}

.output-row {
  background-color: rgb(200, 229, 255);
  padding: 2%;
  text-align: center;
}

#pirate-gif {
  -webkit-box-shadow: 0px 11px 19px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 11px 19px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 11px 19px 10px rgba(0, 0, 0, 0.2);

  transition: 0.5s ease-in-out;
}
#pirate-gif:hover {
  -webkit-box-shadow: 0px 11px 16px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 11px 16px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 11px 16px -5px rgba(0, 0, 0, 0.2);
}

#output {
  font-family: "Cabin Sketch", cursive;
  font-size: 5rem;
}

#pirate-says {
  font-family: "Nerko One", cursive;
}

#reset-msg {
  padding: 5px;
  display: none;
}

#ask-reset-btn {
  padding: 5px;
  visibility: hidden;
}
